.header{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: top;
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: rgb(228, 228, 228);
    z-index: 1;
}

.left-section{
align-items: center;
display: flex;
margin-top: 0;
vertical-align: top;
}
.hamburger-menu{
width: 23px;
margin-right: 5px;
margin-left: 22px;
}
.youtube-picture{
    width: 100px;
    margin-left:30px ;
}
.middle-section{
flex: 1;
margin-left: 70px;
margin-right: 35px;
max-width: 500px;
display: flex;
align-items: center;
}
.search-bar{
    min-width: 20px;
    flex:1;
    height: 34px;
    padding-left: 10px;
    font-size: 16px;
    border: solid;
    border-width: 1px;
    border-color: rgb(176, 176, 176);
    border-radius: 20px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;/*shrink and flex-shrink does'nt shrink*/
    
}
.search-bar::placeholder{
font-family: Roboto,Arial;
font-size: 16px;
}
.search-button .tooltip,
.voice-button .tooltip,
.upload1-countainer .tooltip{
    font-family: Roboto,Arial;
    position: absolute;
    background-color: grey;
    color: white;
    padding-top: 4px;
    padding-bottom:4px ;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -23px;
    opacity: 0;
    transition: 0.15s;
    pointer-events: none;
    white-space: nowrap;
}
.search-button:hover .tooltip,
.voice-button:hover .tooltip,
.upload1-countainer:hover .tooltip{
    opacity: 1;
}
.search-button, .voice-button, .upload1-countainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.search-button{
    height: 38px;
    width: 65px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(176, 176, 176); 
    margin-left: -15px;
    margin-right: 12px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
}
.search-svg{
height: 30px;
width: 40px;

}
.voice-svg{
    height: 16px;
    width: 26px;

}
.voice-button{ 
    height: 38px;
    width: 38px;
    border-radius: 40px;
    border: none;
    background-color: rgba(245, 245, 245, 0.918);
}
.right-section{
width: 150px;
margin-right: 20px;
display: flex;
align-items: center;
justify-content: space-between;
flex-shrink: 0;
}
.upload1-svg{
height: 24px;
}
.notification-svg{
    height: 24px;

}
.notification-countainer{
position: relative;
}
.notification-count{
    position: absolute;
    top: -4px;
    right: 0;
    background-color: red;
    color: white;
    font-family: Roboto,Arial;
    font-size: 12px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 10px;
}
.profile-svg{
    height: 24px;
}