.title{
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    font-size: 18px;
    width: 300px;
    line-height: 24px; /*the higher between the lines*/ 
    margin-bottom: 0;
}
.stats{
    font-family: arial;
    font-size: 14px;
    color: grey;
    margin-top: 5px;
    margin-bottom: 0;
}
.author{
    font-family: arial;
    color: grey;
    font-size: 14px;
    margin-top: O;
    margin-bottom: 70px;
}
.apple{/*the span a key to put class in any attributes*/
    font-size: 14px;
    background-color: rgb(227, 65, 64);
    color: white;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;

}
.span-example{
    cursor: pointer;
}
.span-example:hover{
    text-decoration: underline;
}